# Ignore build and cache artifacts
node_modules/
dist/
.eslintcache
coverage/
.tmp/
.cache/

# IDE/editor folders
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

