services:
  backend:
    image: ghcr.io/samwelmagaiwa/eabms-backend:latest
    container_name: eabms_backend
    ports:
      - "8000:8000"
    environment:
      DB_CONNECTION: mysql
      DB_HOST: 192.168.30.246
      DB_PORT: 3306
      DB_DATABASE: eabms_prod
      DB_USERNAME: samwel_eabms
      DB_PASSWORD: Samwel123@
