services:
  nginx:
    image: nginx:alpine
    container_name: eabms_nginx_local
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  backend:
    volumes:
      - ./backend:/var/www
    env_file:
      - ./backend/.env
